name: Build and test

on:
  workflow_dispatch:
  pull_request:
  push:
    branches:
      - main

concurrency:
  group: ${{ github.workflow }}-${{ github.ref }}
  cancel-in-progress: true

jobs:
  build-and-test:
    name: Build and test
    runs-on: ${{ matrix.os }}
    strategy:
      fail-fast: false
      matrix:
        os: [ubuntu-24.04, ubuntu-24.04-arm, macos-14]
        python-version: ['3.9', '3.13']
    defaults:
      run:
        shell: bash -l {0}
    steps:
      - name: Check out repo
        uses: actions/checkout@v4
      - name: Get micromamba
        uses: mamba-org/setup-micromamba@v2
        with:
          init-shell: bash
          environment-file: environment-dev.yml
      - name: Run pytest
        run: |
          pytest -vv tests
